body {
    font-family: Arial, sans-serif;
    margin: 0;
    /* padding: 8px; */
    background-color: #f0f0f0;
}
.logo-container {
    display: flex;
    gap: 60px;
    align-items: center;
    padding-left: 1%;
}

.logo {
    max-width: 200px;
    height: auto;
}


@media screen and (min-width:410px) and (max-width:430px){
    .logo-container {
        display: grid;
        align-items: center;
        margin-bottom: 20px;
        padding-left: 16%;
        gap: 1%;
    } 
   }
@media screen and (min-width:360px) and (max-width:375px){
    .logo-container {
        display: grid;
        align-items: center;
        margin-bottom: 20px;
        padding-left: 6%;
        gap: 1%;
     }
     .logo {
        max-width: 200px;
        height: auto;
    } 
    }

@media screen and (min-width:390px) and (max-width:395px){
    .logo-container {
        display: grid;
        align-items: center;
        margin-bottom: 50%;
        padding-left: 20%;
        gap: 10%;
     } 
   }
@media screen and (min-width:540px) and (max-width:560px){
    .logo-container {
        display: grid;
        /* grid-template-rows: max-content; */
        align-items: center;
        margin-bottom: 20px;
        padding-left: 20%;
        gap: 1%;

    } 
    .logo{
        width: 200%;
    } 
}
@media screen and (min-width:768px) and (max-width:810px){
    .logo-container {
        display: grid;
        align-items: center;
        margin-bottom: 20px;
        padding-left: 28%;
        gap: 1%;

    } 
    .logo{
        /* width: 280%; */
    }
  } 
@media screen and (min-width:820px) and (max-width:830px){
    .logo-container {
        display: grid;
        grid-template-columns: repeat(2 ,2fr);
        align-items: center;
        margin-bottom: 30px;
        padding-left: 3%;
        gap: 4%;

    } 
    .logo {
        max-width: 300px;
        height: auto;
    }
  } 
  @media screen and (min-width:832px) and (max-width:880px){
    .logo-container {
        display: grid;
        grid-template-columns: repeat(2 ,2fr);
        align-items: center;
        margin-bottom: 30px;
        padding-left: 3%;
        gap: 4%;

    } 
    .logo {
        max-width: 300px;
        height: auto;
    }
  } 

@media screen and (min-width:280px) and (max-width:320px){
    .logo-container {
        display: grid;
        align-items: center;
        margin-bottom: 80%;
        padding-left: 18%;
        gap: 5%;

    
    } 
    .logo{
        width: 60%;
        /* height: 50%; */
    }
    }

@media screen and (min-width:1280px) and (max-width:1300px){
    .logo-container {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        padding-left: 1%;
        padding-right: 30%;
        gap: 2%;

    } 
    .logo{
        width: 200%;
    }
    }

@media screen and (min-width:912px) and (max-width:920px){
    .logo-container {
        display: grid;
        align-items: center;
        margin-bottom: 20px;
        padding-left: 30%;
        gap: 1%;

    } 
    .logo{
        /* width: 280px; */
    }
  }

@media screen and (min-width:1024px) and (max-width:1100px){
    .logo-container {
        display: flex;        
        align-items: center;
        margin-bottom: 1px;
        padding-left: 1%;
        gap: 1%;

    } 
    .logo {
        max-width: 150px;
        height: auto;
    }
}